<<<<<<< HEAD
<<<<<<< HEAD
.titulo {
    font-size: x-large;
    margin-right: 32px;
}

.container {
    border: 1px solid #612a81;
    width: 40%;
    border-radius: 15Px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
    border-radius: 95%;
    border: 3px solid #581d64;
    width: 200px;
=======
body {
    background-color: rgb(82, 0, 107);
=======
.titulo {
    font-size: x-large;
    margin-right: 32px;
>>>>>>> 5eec890b6785ee1b2f1b1b31f62675128db655cc
}

.container {
    border: 2px solid #0F0;
    width: 39%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser {
<<<<<<< HEAD
    border: 4px solid rgb(103, 4, 173);
    border-radius: 20px;
    padding: 0px;
}

#title {
    color: white;
}

#button2 {
    text-align: center;
}

.label {
    text-align: right;
    color: white;
>>>>>>> be249cd7169705f1328b158e52ae1bd8fa4c6983
=======
    border: 1px solid#ffffff;
    width: 100px;
>>>>>>> 5eec890b6785ee1b2f1b1b31f62675128db655cc
}